SpeechRecognition
NOTE: for Windows, if you're using python 3.7, you need to install precompiled binaries for compatibility sake, so install
pipwin first)
pyaudio (sudo apt-get install portaudio19-dev python-pyaudio python3-pyaudio)
pydub
ffmpeg (for Windows)
pocketsphinx
google-cloud-speech (only for google cloud)
pyowm
wikipedia
omdb
googletrans
gmail
pip3 install git+https://github.com/alberanid/imdbpy or latest realease with pip3 install imdbpy
google
pyserial
gTTS
playsound