SpeechRecognition
NOTE: for windows, if you're using python 3.7, you need to install precompiled binaries for compatibility sake, so install
pipwin first
pyaudio
pydub
ffmpeg

pocketsphinx
 google-cloud-speech (only for google cloud)





 TTS:
pyttsx3
gTTS